.card {
	@include flex(space-between, center, column);
	padding: 1rem;
	margin: 0.5rem;
	flex-basis: 34rem;
	max-width: 34rem;
	img {
		width: 10rem;
	}
	h3 {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
	h4 {
		color: $grey-text;
	}
	h5 {
		align-self: flex-start;
		svg {
			margin: 0 0.5rem;
		}
	}
}
